[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/Hugo-Gruvbox-Theme"]
	path = themes/Hugo-Gruvbox-Theme
	url = https://github.com/MayADevBe/Hugo-Gruvbox-Theme.git
	branch = main
